node_modules/
nohup.out
configs/
public/uploads/*
public/tts_final/concat_final/*
public/tts_final/concat_date/*
public/tts_final/concat_number/*
public/recordings/*
metadata_bkp7Sept/
metadata/*.swp
